.overlay {
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 200;
  background-color: transparent;
  transition: background-color 0.3s ease-in;
  &-active {
    width: 100%;
    background-color: rgba(37, 73, 116, 0.8);
  }
}
