.header {
  position: relative;
  background-image: url("./../img/bg/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.header-shadow {
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Tablet*/
  @media (max-width: 1199px) {
    padding-bottom: 50px;
  }
  /*Mobile*/
  @media (max-width: 899px) {
    padding-top: 20px;
  }
  /*Mobile XS*/
  @media (max-width:599px) {
    padding-bottom: 40px;
  }
}
.header-btns {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  /*Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 100px;
  }
  /*Mobile*/
  @media (max-width: 899px) {
    margin-bottom: 30px;
  }
}
.header-content {
  text-align: center;
  margin-bottom: 148px;
  /*Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 129px;
  }
  /*Mobile*/
  @media (max-width:899px) {
    margin-bottom: 80px;
  }
  /*Mobile XS*/
  @media (max-width:599px) {
    margin-bottom: 50px;
  }
}
.header-content__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  color: #ffffff;
  /*Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 35px;
    font-size: 84px;
  }
  /*Mobile*/
  @media (max-width:899px) {
    margin-bottom: 30px;
    font-size: 70px;
  }
}
.header-content__subtitle {
  width: 730px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  /*Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 50px;
    font-size: 18px;
  }
  /*Mobile*/
  @media (max-width:899px) {
    width: 430px;
    font-size: 16px;
    line-height: 1.25;
  }
  /*Mobile XS*/
  @media (max-width:599px) {
    width: 290px;
    margin-bottom: 30px;
  }
}
.header-scroll {
  width: 32px;
  height: 48px;
  background-image: url("./../img/icon-base/mouse.svg");
  &:focus {
    outline: none;
  }
}
