*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body,
input,
button {
  margin: 0;
  color: #3d4040; }

a {
  display: inline-block;
  text-decoration: none;
  color: #000; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

body {
  font-family: "Raleway", sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: "Gogh", sans-serif;
  font-weight: 800;
  line-height: 1; }

h1 {
  font-size: 56px;
  /*Mobile*/ }
  @media (max-width: 1365px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-size: 40px;
  /*Mobile*/ }
  @media (max-width: 1365px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 28px;
  /*Mobile*/ }
  @media (max-width: 1365px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 20px; }

p {
  line-height: 1.5;
  font-weight: 400; }

.container {
  max-width: 1452px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /*Tablet*/
  /*Mobile*/
  /*Mobile XS*/ }
  @media (max-width: 1451px) {
    .container {
      width: 1366px;
      padding-left: 45px;
      padding-right: 45px; } }
  @media (max-width: 1365px) {
    .container {
      width: 768px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 767px) {
    .container {
      width: 374px;
      padding-left: 16px;
      padding-right: 16px; } }

.noscroll {
  overflow: hidden; }

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(5, 25, 25, 0.08); }
  .header__menu {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

/*Mobile*/
@media (max-width: 1365px) {
  .header__menu {
    height: 64px; } }
.mobile-nav {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 80px;
  height: 100%;
  background-color: #ffffff;
  transition: top 0.3s ease-in; }
  .mobile-nav__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px; }
  .mobile-nav__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px; }
  .mobile-nav--active {
    top: 64px; }

/*Mobile XS*/
@media (max-width: 767px) {
  .mobile-nav__link {
    align-self: stretch;
    text-align: center; } }
.main {
  padding-top: 40px;
  padding-bottom: 120px; }
  .main__row {
    display: flex;
    column-gap: 20px; }
  .main__description {
    max-width: 700px;
    padding-top: 80px;
    padding-bottom: 80px; }
  .main__text {
    margin-bottom: 60px; }
  .main__title {
    margin-bottom: 40px; }
  .main__subtitle {
    max-width: 460px; }
  .main__scroll {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 504px;
    background-color: #030d0d;
    border-radius: 8px;
    padding: 40px; }
    .main__scroll--mobile {
      display: none; }
  .main__img {
    max-width: 700px;
    display: flex;
    align-items: center;
    column-gap: 20px; }
    .main__img img {
      border-radius: 8px; }
  .main__col {
    display: flex;
    flex-direction: column;
    row-gap: 20px; }

/*Tablet*/
@media (max-width: 1451px) {
  .main__description {
    max-width: 628px; }
  .main__img img {
    max-width: 304px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .main {
    padding-top: 60px;
    padding-bottom: 80px; }
    .main__row {
      gap: 16px; }
    .main__description {
      max-width: 360px;
      padding-top: 0;
      padding-bottom: 0; }
    .main__title {
      margin-bottom: 20px; }
    .main__scroll {
      padding: 20px;
      flex-direction: column; }
    .main__img {
      column-gap: 16px; }
      .main__img img {
        max-width: 172px; }
    .main__col {
      row-gap: 16px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .main__row {
    flex-direction: column;
    gap: 40px; }
  .main__text {
    margin-bottom: 0; }
  .main__scroll {
    display: none; }
    .main__scroll--mobile {
      display: flex; }
  .main__img img {
    max-width: 163px; } }
.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e1fafa; }
  .about__row {
    display: flex;
    column-gap: 20px; }
  .about__description {
    position: sticky;
    top: 72px;
    height: min-content;
    min-width: 700px; }
  .about__text {
    margin-bottom: 80px; }
  .about__title {
    margin-bottom: 40px; }
  .about__subtitle {
    max-width: 580px; }
  .about__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px; }
  .about__img {
    display: flex;
    flex-direction: column;
    gap: 40px; }
    .about__img img {
      width: 700px;
      height: 400px;
      object-fit: cover; }

/*Tablet*/
@media (max-width: 1451px) {
  .about__description {
    min-width: 628px; }
  .about__img img {
    width: 628px;
    height: 320px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .about {
    padding-top: 80px;
    padding-bottom: 80px; }
    .about__row {
      flex-direction: column;
      row-gap: 60px; }
    .about__description {
      position: static;
      top: 0;
      display: flex;
      gap: 16px; }
    .about__text {
      width: calc(50% - 8px);
      margin-bottom: 0; }
    .about__title {
      margin-bottom: 20px; }
    .about__cards {
      width: calc(50% - 8px); }
    .about__img {
      overflow-x: scroll;
      flex-direction: row;
      gap: 16px; }
      .about__img img {
        width: 280px;
        height: 200px;
        border-radius: 8px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .about__description {
    flex-direction: column;
    gap: 40px;
    min-width: 0; }
  .about__text, .about__cards {
    width: 100%; } }
.slider {
  padding-top: 120px;
  padding-bottom: 120px; }
  .slider__header {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between; }
  .slider__btn {
    display: flex;
    column-gap: 12px; }
  .slider__item {
    position: relative;
    border: 2px solid #daf2f2;
    border-radius: 8px; }
    .slider__item::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 48px);
      border-radius: 8px;
      transition: background-color 0.2s ease-in; }
    .slider__item:hover {
      background-color: rgba(0, 0, 0, 0.1); }
      .slider__item:hover .slider__text {
        background-color: #14cccc; }
      .slider__item:hover::after {
        background-color: rgba(0, 0, 0, 0.1); }
    .slider__item:active .slider__text {
      background-color: #11a6a6;
      transition: background-color 0s ease-in; }
    .slider__item:active::after {
      background-color: rgba(0, 0, 0, 0.2);
      transition: background-color 0s ease-in; }
  .slider__img {
    border-radius: 8px; }
  .slider__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    background-color: #030d0d;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    transition: background-color 0.2s ease-in; }

/*Mobile*/
@media (max-width: 1365px) {
  .slider {
    padding-top: 80px;
    margin-top: -40px;
    padding-bottom: 80px; }
    .slider__btn {
      display: none; } }
.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #e1fafa; }
  .gallery__wrapper {
    display: flex;
    gap: 40px; }
  .gallery__img {
    width: 940px;
    height: 480px;
    border-radius: 8px;
    background-image: url("./../img/gallery/gallery1.jpg");
    background-size: cover; }
  .gallery__btns {
    display: flex;
    flex-direction: column;
    row-gap: 20px; }
  .gallery__btn {
    display: flex;
    align-items: center;
    column-gap: 20px;
    width: 440px;
    padding: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 20px rgba(13, 64, 64, 0.1);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer; }
    .gallery__btn:hover {
      border: 2px solid #daf2f2; }
    .gallery__btn--img {
      width: 48px;
      height: 48px;
      background-size: cover;
      background-position: center;
      border-radius: 4px; }
      .gallery__btn--img1 {
        background-image: url("./../img/gallery/gallery1.jpg"); }
      .gallery__btn--img2 {
        background-image: url("./../img/gallery/gallery2.jpg"); }
      .gallery__btn--img3 {
        background-image: url("./../img/gallery/gallery3.jpg"); }
  .gallery__radio {
    display: none; }
    .gallery__radio:checked + label {
      border: 2px solid #14cccc;
      box-shadow: none; }

/*Tablet*/
@media (max-width: 1451px) {
  .gallery__img {
    width: 844px;
    height: 440px; }
  .gallery__btn {
    width: 392px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .gallery {
    padding-top: 80px;
    padding-bottom: 80px; }
    .gallery__wrapper {
      gap: 16px; }
    .gallery__img {
      width: 342px;
      height: 178px; }
    .gallery__btn {
      width: 378px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .gallery__wrapper {
    flex-direction: column;
    gap: 40px; }
  .gallery__btn {
    width: 342px; } }
.question {
  padding-top: 120px;
  padding-bottom: 120px; }
  .question__title {
    margin-bottom: 60px; }
  .question__drops-block {
    max-height: 72px;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 12px;
    background-color: #e1fafa;
    border-radius: 8px;
    overflow-y: hidden;
    cursor: pointer;
    transition: max-height 0.2s ease-out; }
    .question__drops-block--active {
      max-height: 700px;
      transition: max-height 0.2s ease-in; }
    .question__drops-block + * {
      margin-top: 20px; }
    .question__drops-block:hover .question__main {
      color: #14cccc; }
    .question__drops-block:active .question__main {
      color: #11a6a6; }
  .question__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .question__main {
    font-size: 16px;
    font-weight: 700;
    color: #030d0d; }
  .question__text {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 16px;
    font-size: 16px; }

/*Mobile*/
@media (max-width: 1365px) {
  .question {
    padding-top: 80px;
    margin-top: -40px;
    padding-bottom: 80px; }
    .question__title {
      margin-bottom: 60px; }
    .question__drops-block + * {
      margin-top: 16px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .question__title {
    margin-bottom: 40px; } }
.footer {
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #030d0d; }
  .footer__form {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
    overflow: hidden;
    background-color: #030d0d;
    border-radius: 8px; }
  .footer__info {
    position: relative;
    z-index: 2;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    row-gap: 60px; }
  .footer__other2 {
    display: none; }
  .footer__title {
    margin-bottom: 24px; }
    .footer__title .title {
      color: #ffffff; }
  .footer__text {
    font-size: 16px;
    color: #ffffff; }
  .footer__subtitle {
    margin-bottom: 32px; }
    .footer__subtitle .subtitle {
      color: #ffffff; }
  .footer__links {
    min-height: auto; }
  .footer__social {
    display: inline-block;
    vertical-align: top; }
    .footer__social + .footer__social {
      margin-left: 12px; }

/*Tablet*/
@media (max-width: 1451px) {
  .footer__form {
    gap: 48px; }
  .footer__info {
    max-width: 400px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px; }
    .footer .container {
      padding-right: 0;
      padding-left: 0; }
    .footer__form {
      flex-direction: column;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 16px;
      padding-left: 16px;
      gap: 40px; }
    .footer__info {
      max-width: 100%; }
    .footer__title {
      margin-bottom: 20px; }
    .footer__text {
      max-width: 342px; }
    .footer__other {
      display: none; }
    .footer__other2 {
      display: block;
      position: relative;
      z-index: 2;
      margin-top: -8px; }
    .footer .subtitle {
      font-size: 20px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .footer__links {
    text-align: center; } }
.nav__list {
  display: flex;
  gap: 12px; }
.nav__item {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #3d4040;
  border-radius: 4px;
  transition: background-color 0.2s ease-in; }
  .nav__item:active {
    background-color: #daf2f2; }
.nav__link {
  transition: color 0.2s ease-in; }
  .nav__link:hover {
    color: #11a6a6; }

/*Mobile*/
@media (max-width: 1365px) {
  .nav {
    display: none; }
    .nav__list {
      flex-direction: column; } }
.burger {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #14cccc;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*Mobile*/ }
  .burger__line {
    position: relative;
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
    transition: 0.2s ease-in; }
    .burger__line::before, .burger__line::after {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 1px;
      background-color: #ffffff;
      transition: 0.2s ease-in; }
    .burger__line::before {
      top: 6px; }
    .burger__line::after {
      bottom: 6px; }
  .burger:hover {
    background-color: #17e5e5; }
  .burger:active {
    background-color: #11a6a6; }
  .burger--active .burger__line {
    background-color: transparent; }
    .burger--active .burger__line::before {
      transform: rotate(-45deg);
      top: 0; }
    .burger--active .burger__line::after {
      transform: rotate(45deg);
      bottom: 0; }
  @media (max-width: 1365px) {
    .burger {
      display: flex; } }

.btn {
  padding: 13.5px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  background-color: #14cccc;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background-color: #17e5e5; }
  .btn:active {
    background-color: #11a6a6; }
  .btn__square {
    width: 48px;
    height: 48px;
    padding: 0; }
    .btn__square::before {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      margin: auto; }

.logo {
  position: relative;
  width: 160px;
  height: 56px;
  overflow: hidden; }
  .logo__img {
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s ease-in; }
  .logo__text {
    position: absolute;
    top: 112px;
    left: 43px;
    color: #14cccc;
    transition: top 0.4s ease-in; }
  .logo__mobile {
    position: absolute;
    left: 200px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s ease-in; }
    .logo__mobile--active {
      left: 0; }
  .logo:hover .logo__img {
    top: -160px; }
  .logo:hover .logo__text {
    top: 18px; }
  .logo:active .logo__text {
    color: #11a6a6; }
  .logo .logo__img,
  .logo .logo__text {
    transition: 0.2s ease-in; }
  .logo--active .logo__img,
  .logo--active .logo__text {
    left: 150px; }

.arrow {
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgba(13, 64, 64, 0.1);
  border-radius: 8px; }
  .arrow.prevEl::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./../img/icon/arrow.svg");
    transform: rotate(90deg); }
  .arrow.nextEl::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("./../img/icon/arrow.svg");
    transform: rotate(-90deg); }
  .arrow:hover {
    background-color: #e1fafa; }
  .arrow:active {
    background-color: #daf2f2; }

.close::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: auto;
  background-image: url("./../img/icon/close.svg");
  transform: rotate(45deg);
  transition: 0.2s ease-in; }
.close--active::before {
  transform: rotate(90deg);
  transition: 0.2s ease-in; }

/*Mobile*/
@media (max-width: 1365px) {
  .logo {
    width: 140px;
    height: 48px; }

  .main__scroll .btn {
    width: 100%;
    text-align: center; } }
.title {
  color: #030d0d; }
  .title--green {
    color: #11a6a6; }
  .title--white {
    color: #ffffff; }

.subtitle {
  font-size: 20px; }

/*Mobile*/
@media (max-width: 1365px) {
  .subtitle {
    font-size: 16px; } }
.card {
  width: 580px;
  padding: 40px;
  background-color: #030d0d;
  border-radius: 8px; }
  .card__title {
    margin-bottom: 20px;
    font-family: "Gogh", sans-serif;
    font-weight: 800;
    line-height: 1;
    font-size: 56px;
    color: #17e5e5; }
  .card__subtitle {
    font-size: 16px;
    color: #ffffff; }

/*Tablet*/
@media (max-width: 1451px) {
  .card {
    width: 520px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .card {
    width: 100%;
    padding: 20px; }
    .card__title {
      margin-bottom: 12px;
      font-size: 32px; } }
.form {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  border-radius: 8px; }
  .form__input {
    display: flex;
    gap: 20px;
    flex-flow: wrap; }
  .form__send {
    display: flex;
    align-items: center;
    column-gap: 20px; }
  .form__checkbox {
    display: none; }
    .form__checkbox:checked + label:hover span {
      background-image: url("./../img/icon/check-active-hover.svg"); }
    .form__checkbox:checked + label span {
      background-image: url("./../img/icon/check-active.svg"); }
  .form__check {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer; }
    .form__check:hover .form__check--fake {
      background-image: url("./../img/icon/check-hover.svg"); }
    .form__check--error {
      color: #ff6666; }
  .form__check--fake {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("./../img/icon/check-static.svg"); }

/*Mobile*/
@media (max-width: 1365px) {
  .form {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 16px;
    padding-left: 16px; }
    .form__input {
      gap: 12px; }
    .form__send {
      gap: 16px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .form {
    width: 100%; }
    .form__input {
      flex-direction: column; }
    .form__send {
      flex-direction: column-reverse;
      align-items: flex-start; }
      .form__send button {
        align-self: stretch; } }
.link {
  border-radius: 4px;
  box-shadow: 0px 0px 20px 0px rgba(13, 64, 64, 0.1);
  background-color: #ffffff; }
  .link:hover {
    background-color: #e1fafa; }
  .link:active {
    background-color: #daf2f2; }

.input {
  width: calc(50% - 10px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 4px;
  border: 2px solid #daf2f2;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Raleway"; }
  .input:focus {
    border: 2px solid #14cccc; }
  .input:hover {
    border: 2px solid #17e5e5; }
  .input:active {
    border: 2px solid #daf2f2; }
  .input__error {
    border: 2px solid #ff6666; }
  .input::placeholder {
    font-weight: 400;
    color: #3d4040; }

/*Mobile*/
@media (max-width: 1365px) {
  .input {
    width: calc(50% - 6px); } }
/*Mobile XS*/
@media (max-width: 767px) {
  .input {
    width: 100%; } }
.ellipse1, .ellipse2, .ellipse3, .ellipse4 {
  position: absolute;
  width: 704px;
  height: 701px;
  border-radius: 50%;
  flex-shrink: 0;
  opacity: 0.3; }
.ellipse1, .ellipse2 {
  transform: rotate(-44.28deg); }
.ellipse1 {
  top: -192px;
  left: -85px;
  background-color: #11a6a6; }
.ellipse2 {
  top: -108px;
  left: -85px;
  background-color: #17e5e5; }
.ellipse3, .ellipse4 {
  transform: rotate(5.716deg); }
.ellipse3 {
  background-color: #17e5e5;
  bottom: 20px;
  right: -180px; }
.ellipse4 {
  background-color: #11a6a6;
  bottom: -39px;
  right: -115px; }

/*Tablet*/
@media (max-width: 1451px) {
  .ellipse1 {
    left: -78px; }
  .ellipse2 {
    left: -78px; }
  .ellipse3 {
    right: -330px; }
  .ellipse4 {
    right: -265px; } }
/*Mobile*/
@media (max-width: 1365px) {
  .ellipse1 {
    top: -400px;
    left: -220px; }
  .ellipse2 {
    top: -300px;
    left: -220px; }
  .ellipse3 {
    bottom: -310px;
    right: -185px; }
  .ellipse4 {
    bottom: -380px;
    right: -130px; } }
/*Mobile XS*/
@media (max-width: 767px) {
  .ellipse1 {
    top: -420px;
    left: -355px; }
  .ellipse2 {
    top: -330px;
    left: -355px; }
  .ellipse3 {
    bottom: -324px;
    right: -333px; }
  .ellipse4 {
    bottom: -260px;
    right: -400px; } }
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }
:root {
  --swiper-theme-color: #007aff; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }
.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }
.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory; }

/*# sourceMappingURL=main.css.map */
