.mobile-nav {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -100%;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 80px;
  height: 100%;
  background-color: $gray-white;
  transition: top 0.3s ease-in;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  &--active {
    top: 64px;
  }
}
/*Mobile XS*/
@media (max-width:767px) {
  .mobile-nav{
    &__link{
      align-self: stretch;
      text-align: center;
    }
  }
}
