.nav {
  &__list {
    display: flex;
    gap: 12px;
  }
  &__item {
    padding: 12px 20px;
    font-size: $t2;
    font-weight: $tb;
    line-height: 1.5;
    color: $gray-dark;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
    &:active {
      background-color: $shadow-press;
    }
  }

  &__link {
    transition: color 0.2s ease-in;
    &:hover {
      color: $color1-dark;
    }
  }
}
/*Mobile*/
@media (max-width:1365px) {
  .nav{
    display: none;
    &__list{
      flex-direction: column;
    }
  }
}
