/*Inner-page-tours*/
.main-inner {
    padding: 60px 0 98px;
  
    background-color: #f2f8f6;
    color: #31405b;
  }
  .main-inner-header {
    margin-bottom: 60px;
  
    color: #31405b;
    text-align: center;
  }
  