//Colors-main
$color1-main: #14cccc;
$color1-dark: #11a6a6;
$color1-light: #17e5e5;

$gray-black: #030d0d;
$gray-dark: #3d4040;
$gray-light: #daf2f2;
$gray-lighter: #e1fafa;
$gray-white: #ffffff;

//Colors-btn
$primary-static: #14cccc;
$primary-hover: #17e5e5;
$primary-press: #11a6a6;

$outline-static: #17e5e5;
$outline-hover: #17e5e5;
$outline-press: #11a6a6;

$shadow-static: #ffffff;
$shadow-hover: #e1fafa;
$shadow-press: #daf2f2;

$social-static: #ffffff;
$social-hover: #e1fafa;
$social-press: #daf2f2;

$radio-static: #ffffff;
$radio-hover: #daf2f2;
$radio-press: #14cccc;

//Colors-input
$static: #daf2f2;
$hover: #17e5e5;
$focus: #14cccc;
$active: #daf2f2;
$error: #ff6666;

$vk: #0077ff;
$tg: #27a6e5;

//Text tipography fz$weight
$t1: 20px;
$t2: 16px;
$t3: 14px;
$tb: 700;
