.pagination {
  display: flex;
  column-gap: 10px;
}
.round {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #e1e1e1;
  cursor: pointer;
  &:hover{
    background-color: #008a4e;
  }
}
.round.active {
  background-color: #00c470;
  &:hover{
    background-color: #008a4e;
  }
}
