@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: #181715;
}

.container {
  max-width: 1380px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*Tablet*/
  /*@media (max-width:1199px) {
    width: 900px;
  }
  /*Mobile*/
  /*@media (max-width:899px) {
    width: 600px;
  }
  /*Mobile XS*/
  /*@media (max-width:599px) {
    width: 320px;
  }*/
}
